<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Github Profile Finder</title>
</head>
<body>

    <header>
        <div class="title">
            <h2><a href="/">Github Profile Finder</a></h2>
        </div>
    </header>

    <main>
        <div class="search">
            <form method="POST">
                <label for="bar">Enter github username</label>
                <input type="text" name="username" id="bar" placeholder="githubuser123">
                <button type="submit">Search</button>
            </form>
        </div>
    </main>

    {% block result %}{% endblock%}

    <footer>
        <div class="credits">
            <p>made by <span><a href="https://github.com/hamzak51" target="_blank"> hamza khan</a></span></p>
        </div>
    </footer>


</body>
</html>